.helper {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px;
  height: 100vh;
  background-color: orange;
}
.container {
  overflow: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px;
  height: 100vh;
  background-color: white;
}
.text1 {
  overflow-x: hidden;
  overflow-y: hidden;
  color: black;
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: "center";
  height: "100vh";
}
.mySwiper {
  scrollbar-arrow-color: aliceblue;
  margin-top: 10%;
  height: "400px";
  width: "800px";
  position: "absolute";
}
.slides {
  font-size: 8rem;
  margin-bottom: 10px;
  background-color: #00558b;
  text-align: center; /* Animation */
}
